<div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}">
<div  *ngIf="flag_home" style="padding: 2% 30% 0% 30%;">
<div style="padding: 10% 30% 0% 30%;">
    <div class="con"  style="padding: 2% 10% 2% 10%;" >
        
        <h2 class="fw-bold mb-2 text-uppercase">Login To Agent Portal</h2>
        <br>
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="text-center">
            <div class="form-outline form-white mb-4">
                <br>
                <input type="name" name="userName" ngModel id="userName" class="form-control" placeholder="Agent Name" />
            </div>
            <br>
            <div class="form-outline form-white mb-4">
            <input type="password" name="password" ngModel id="password" class="form-control form-control-lg" placeholder="Password"/>
            </div>
            <br><br>
            <button class="btn btn-outline-light btn-lg px-5 btn-success" type="submit">Login</button>
            <br><br>
            </div>
        </form>
        
    </div>
    </div>  
    </div>
    </div>
